/* Values are moved into the theme store automatically and is accessible through JS */

:root {
	/* Text */
	--text-color: #fff;
	--font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
		sans-serif;

	/* Color */
	--grey: #222;
	--grey-dark: #121212;
	--pink: #d0706a;
	--brown: #2e1500;
	--brown-golden: #7b3b07;

	/* Switch */
	--switch-width: 48px;
	--switch-height: 24px;
}
